/* -------------------------------------
 * Fonts
 * ------------------------------------- */
// Google fonts
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Raleway:400,100,300,700,500");

// Local fonts (uncomment following lines)
// @font-face {
//   font-family: "Kollektif";
//   src: font-url('Kollektif-Bold.ttf') format('bold'),
//        font-url('Kollektif-Italic.ttf') format('italic'),
//        font-url('Kollektif.ttf') format('truetype')
// }
@font-face {
	font-family: "Kollektif";
	src: font-url('Kollektif.eot');
	src: font-url('Kollektif.eot?#iefix') format('embedded-opentype'),
	// font-url('Kollektif.woff') format('woff'),
	font-url('Kollektif.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "Kollektif";
	src: font-url('Kollektif.eot');
	src: font-url('Kollektif.eot?#iefix') format('embedded-opentype'),
	// font-url('Kollektif.woff') format('woff'),
	font-url('Kollektif-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: "Kollektif";
	src: font-url('Kollektif.eot');
	src: font-url('Kollektif.eot?#iefix') format('embedded-opentype'),
	// font-url('Kollektif.woff') format('woff'),
	font-url('Kollektif-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}
@font-face {
	font-family: "Gidole";
	src: font-url('Gidole-Regular.ttf') format('truetype')
}
$gidole: "Gidole";
$kollektif: "Kollektif";
$base-font: $gidole;
$header-font: $kollektif;

// Font-size and line-height
$base-size: 16px;
$base-height: 1.4;

/* -------------------------------------
 * Colors
 * ------------------------------------- */
// Scheme
$brand-color: #D23333;

$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;

// The Good Gift colors:
$black: #222222;
$darkgrey: #555555;
$lightgrey: #FAFAFA;
$peach: #FFBE9E;
$mint: #93E1D8;
$grey: #b7b7b7;
$white: #FFFFFF;
