.cart-content {
  border-radius: 2px;
  background: white;
  box-shadow: 0 3px 8px rgba(50, 50, 50, 0.17);

  img {
    width: 85px;
  }
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
@keyframes move {
  50% {
   transform: translate(-5px, 0px);
 }
}

.arrow-bounce {
  position: relative;
  i {
   position: absolute;
   top: 0;
   left: -5px;
   animation: move 2.3s ease infinite;
 }
}
.surprise-me {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  right: 125px;
  p {
    color: $peach;
  }
  img {
    width: 67px;
  }
  &:hover {
    cursor: pointer;
    img {
      animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both infinite;
      transform: translate3d(0, 0, 0);
    }
  }
}

