// .cart-content {
//   border-radius: 2px;
//   background: white;
//   box-shadow: 0 3px 8px rgba(50, 50, 50, 0.17);

//   img {
//     width: 85px;
//   }
// }

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
@keyframes move {
  50% {
   transform: translate(-5px, 0px);
 }
}

#shopping-cart-on-cartpage {
  margin-top: -10px;
}

.arrow-bounce {
  position: relative;
  i {
   position: absolute;
   top: 0;
   left: -5px;
   animation: move 2.3s ease infinite;
 }
}
.surprise-me {
  flex-direction: column;
  align-items: center;
  right: 125px;
  p {
    color: $peach;
  }
  input {
    width: 115px;
  }
  &:hover {
    cursor: pointer;
    input {
      animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both infinite;
      transform: translate3d(0, 0, 0);
    }
  }
}

#header-cart-page {
  padding: 15px 0;
}

// ANIMATION CHECK panier complet
@-webkit-keyframes check {
0% {
        height: 0;
        width: 0;
    }

    33.3333% {
        width: 40px;
        height: 0;
    }

}
@-moz-keyframes check {
    0% {
        height: 0;
        width: 0;
    }

    33.3333% {
        width: 40px;
        height: 0;
    }
}
@-ms-keyframes check {
    0% {
        height: 0;
        width: 0;
    }

    33.3333% {
        width: 40px;
        height: 0;
    }
}
@keyframes check {
    0% {
        height: 0;
        width: 0;
    }

    33.3333% {
        width: 40px;
        height: 0;
    }
}

.checkmark-container {
  display: flex;
  justify-content: center;
}
.checkmark {
    display: block;
    height: 200px;
    position: relative;
    width: 200px;
}


.checkmark:after {
    -webkit-animation: check .8s;
    -moz-animation: check .8s ;
    -o-animation: check .8s;
    animation: check .8s;
}

.checkmark:after {
    -moz-transform: scaleX(-1) rotate(135deg);
    -ms-transform: scaleX(-1) rotate(135deg);
    -webkit-transform: scaleX(-1) rotate(135deg);
    transform: scaleX(-1) rotate(135deg);
    -moz-transform-origin: left top;
    -ms-transform-origin: left top;
    -webkit-transform-origin: left top;
    transform-origin: left top;
    border-right: 30px solid #90ABD6;
    border-top: 30px solid #90ABD6;
    content: '';
    display: block;
    height: 80px;
    left: 14px;
    position: absolute;
    top: 100px;
    width: 60px;
}

.reinitialize-cart {
  text-align: center;
}
.reinitialize-link {
    border: 0;
    background: 0;
    color: $mint;
    font-size: 12px;
    &:hover {
      font-style: italic;
    }
    &:focus {
      outline: none;
    }
}

.delete-prod-link {
    border: 0;
    color: #666;
    background: 0;
    font-size: 12px;
    &:hover {
      color: $black;
    }
    &:focus {
      outline: none;
    }
}
