.main-body {
  background: #F2F2F2;
}

.checkout-header {
  width: 940px;
}

.checkout-header h1 {
  text-align: center;
}

.checkout-body {
  width: 940px;
  border: black;
}

.checkout-card {
  background: #FFF;
  padding: 20px 20px;
}

.cart-card {
  width: 300px;
  margin-bottom: 20px;
}

.form-card {
  width: 570px;
}

.bag-header {
  display: flex;
  justify-content: space-between;
  margin-left: 10px;
  margin-right: 10px;
}

.bag-item-list {
  display: flex;
  padding: 0;
}

.bag-item-list img {
  display: 0 0 85px;
  height: 110px;
  width: 85px;
}

.bag-total {
  display: flex;
  justify-content: space-between;
  margin-left: 10px;
  margin-right: 10px;
}

.bag-item-wrapper {
  display: flex;
  padding: 0;
}

