
.main-body {
  background: #F2F2F2;
  min-height: 1200px;
}

.checkout-header {
  width: 940px;
}

.checkout-header h1 {
  text-align: center;
}

.checkout-body {
  width: 940px;
  border: black;
}

.Checkout.is-desktop .Fieldset {
  display:none;
}

.StaggerGroup-child {
  display:none;
}

// Cards

.checkout-card {
  background: #FFF;
  padding: 1.25rem 20px;
  margin: 1rem 0;
}

.cart-card {
  width: 300px;
}

.address-card {
  height: 460px;
  position: relative;
}

#address-card-inactive {
  height: 110px;
  border: 1px solid #ddd;
  background: 0 0;
  color: #ddd;
}

.email-card {
  height: 140px;
  position: relative;
}

.form-card {
  width: 615px;
}

.sticky {
  position: fixed;
  top: 0;
}

.cards {
  display: flex;
  margin-top: 10px;
}

  // handle masking effects

#city-card-mask, #email-card-mask, #address-card-mask {
  position: absolute;
  background: white;
  opacity: 0.9;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.is-disabled {
    background: 0 0;
    border: 1px solid #ddd;
    box-sizing: inherit;
    margin-bottom: 20px;
}

.is-disabled h3 {
  color: #ddd;
  padding-left: 10px;
  padding-right: 10px;
}


// Shopping bag

.bag-header {
  display: flex;
  justify-content: space-between;
  margin-left: 10px;
  margin-right: 10px;
}

.bag-item-list {
  display: flex;
  padding: 0;
}

.bag-item-list img {
  display: 0 0 85px;
  max-height: 110px;
  max-width: 85px;
}

.bag-total {
  display: flex;
  justify-content: space-between;
  margin-left: 10px;
  margin-right: 10px;
  font-weight: bolder;
}

.bag-item-wrapper {
  padding: 0;
  flex: 1 1 100%;
}

.bag-item-wrapper ul {
  list-style-type: none;
  padding: 0;
}

.item {
  display: flex;
  padding: 0;
}

.item>div {
  color: #666;
  padding-left: 15px;
  padding-top: 15px;
  font-size: 14px;
}

.item>img {
  flex: 0 0 85px;
  flex: 0 0 85px;
  flex: 0 0 85px;
  height: 110px;
  width: 100px;
  padding: 10px;
}

.item-name {
  margin-top: 5px;
  display: block;
  font-size: 16px;
}

.item-brand {
  margin-top: 5px;
  display: block;
  font-size: 14px;
  font-style: italic;
}

.item-desc {
  margin-top: 5px;
  display: block;
  font-size: 12px;
}

.item-modal {
  margin-top: 5px;
  display: block;
  font-size: 12px;
  &:hover {
    cursor: pointer;
    color: $black;
  }
}

.bag-gift_card-selection {
  display: flex;
  justify-content: space-between;
  vertical-align: middle;
}

.icon-giftcard {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  height: 15px;
  width: 15px;
  background-image: "../assets/images/card_icon.png";
}

.checkbox {
  float: right;
}

#wrapper-checkout {
  width: 100%;
}

.radio_buttons.order_card {
  display: flex;
  justify-content: space-between;
}

.radio, .checkbox {
  display: block;
  margin-top: 10px !important;
  margin-bottom: 10px;
}

.radio label {
  display: block;
  text-align: center;
}

.giftcard-form img {
  height: 60px;
  width: 60px;
  margin-left: -20px;
  background-size: cover;
}

.giftcard-form.unchecked img {
  border: 2px solid transparent;
}

.giftcard-form input {
  display: none;
}

#giftcard-message p {
  color: #93E1D8;

}

#final-separator {
  margin-top: 14px;
}

#separator {
  margin-top: -5px;
}

#giftcard-icon {
  width: 18px;
  height: 26px;
  margin-right: -85px;
}

// Forms

.form {
   background-color: #fff;
  float: left;
  width: 330px;
  border-radius: 0;
  border: 1px solid #999;
  background-color: #fff;
  display: block;
  outline: 0;
  margin-bottom: 15px;
  padding: 11.008px 11px;
  padding: .688rem 11px;
  height: 4.8rem;
  padding-left: 15px;
  box-sizing: inherit;
}

.form-horizontal {
  margin-left: 15px;
}

#order_address, #order_email, #order_phone, #order_first_name, #order_last_name, #order_company {
  background-color: #fff;
  float: left;
  margin-bottom: 10px;
  width: 330px;
  -moz-appearance: none;
  border-radius: 0;
  border: 1px solid #999;
  background-color: #fff;
  display: block;
  outline: 0;
  margin: 0;
  padding: 11.008px 11px;
  padding: .688rem 11px;
  height: 4.8rem;
  padding-left: 15px;
  box-sizing: inherit
}

.field-city {
  display: flex;
  justify-content: space-between;
  margin-top: .813rem;
}

.delivery-country.input-field {
  align-items: center;
  display: flex;
}

.city-image {
  float: left;
  width: 30px;
  height: 30px;
  margin-right: 25px;
  background-repeat: no-repeat;
  background-size: 30px;
}

.city-delivery {
  position: relative;
}

.city-delivery select {
  border-radius: 0;
  border: 1px solid #999;
  background-color: #fff;
  display: block;
  outline: 0;
  margin: 0;
  padding: 11.008px 11px;
  padding: .688rem 11px;
  height: 4.8rem;
  padding-left: 15px;
  box-sizing: inherit
}

// Buttons

.btn.btn-tertiary {
  background-color: #eee;
  margin-left: 15px;
  margin-top: 3px;
  height: 32px;
  border: none;
  color: #000;
  cursor: pointer;
  display: inline-block;
  position: relative;
  outline: 0;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: background-color .15s linear;
  vertical-align: middle;
  font-family: futura-pt-n7,futura-pt,Tahoma,Geneva,Verdana,Arial,sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  font-size: .75rem;
  letter-spacing: .119rem;
  font-size: 1.5rem;
}

.btn.btn-tertiary:hover {
  text-decoration: none;
  transition: background-color .15s linear;
}

.btn.submit {
  float: right;
  margin-top: inherit;
  min-width: inherit;
  font-size: 15px;
  width: 225px;
  height: 48px;
}

.btn.secondary {
  background-color: #2d2d2d;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  outline: 0;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: background-color .15s linear;
  vertical-align: middle;
  font-style: normal;
  font-weight: bolder;
  padding: 5.008px 5%;
  padding: .313rem 5%;
  padding: 12px 20px;
  padding: .75rem 20px;
  letter-spacing: .125rem;
  white-space: nowrap;
}

.btn.tertiary {
  float: right;
  background-color: #eee;
  border: none;
  color: #000;
  cursor: pointer;
  display: inline-block;
  position: relative;
  outline: 0;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: background-color .15s linear;
  vertical-align: middle;
  font-style: normal;
  font-weight: bolder;
  padding: 5.008px 5%;
  padding: .313rem 5%;
  font-size: 15px;
  letter-spacing: .119rem;
}

#btn-address {
  float: left;
  margin-left: -15px;
  width: 182px;
}

#payment-btn {
  width: 350px;
  height: 60px;
  margin-top: 20px;
  border-radius: 1px;
}

#payment-btn[disabled] {
  opacity: 0.35;
}

#mastercard_logo {
  border: 1px solid;
}

#payment-section img {
  display: block;
  opacity: 0.6;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -10px;
}

// Other

.tandc {
  color: #999;
  display: block;
  letter-spacing: .025rem;
  line-height: 1.5rem;
  margin-bottom: 1.875rem;
}


// Stripe btn

.stripe-button-el span {

 // display:none !important;
  }




#checkbox-card {
  display: none;
}

#checkbox-card + label {
  width: 20px;
  height: 20px;
  border: 1px solid black;
  border-radius: 2px;
  position: relative;
}

// #checkbox-card + label:before {
//   content: '';
//   width: 18px;
//   height: 18px;
//   background-color: white;
// }

#checkbox-card:checked + label:after {
  content: '';
  width: 14px;
  height: 14px;
  background-color: black;
  position: absolute;
  top: 2px;
  left: 2px;

}
.red-error {
  border-color: red;
}

.Checkout.is-desktop .Fieldset {
  display:none;
}
