
.main-body {
  background: #F2F2F2;
}

.checkout-header {
  width: 940px;
}

.checkout-header h1 {
  text-align: center;
}

.checkout-body {
  width: 940px;
  border: black;
}

.checkout-card {
  background: #FFF;
  padding: 1.25rem 20px;
  margin: 1rem 0;
}

.cart-card {
  width: 300px;
  margin-bottom: 20px;
}

.form-card {
  width: 615px;
}

.bag-header {
  display: flex;
  justify-content: space-between;
  margin-left: 10px;
  margin-right: 10px;
}

.bag-item-list {
  display: flex;
  padding: 0;
}

.bag-item-list img {
  display: 0 0 85px;
  height: 110px;
  width: 85px;
}

.bag-total {
  display: flex;
  justify-content: space-between;
  margin-left: 10px;
  margin-right: 10px;
  font-weight: bolder;
}

.bag-item-wrapper {
  padding: 0;
  flex: 1 1 100%;
}

.bag-item-wrapper ul {
  list-style-type: none;
  padding: 0;
}

.item {
  display: flex;
  padding: 0;
}

.item>div {
  color: #666;
  padding-left: 15px;
  padding-top: 15px;
  font-size: 14px;
}

.item>img {
  -webkit-flex: 0 0 85px;
  -ms-flex: 0 0 85px;
  flex: 0 0 85px;
  height: 110px;
  width: 100px;
  padding: 10px;
}


.item-name {
  margin-top: 5px;
  display: block;
}

.item-brand {
  margin-top: 5px;
  display: block;
  font-size: 14px;
}

.item-desc {
  margin-top: 5px;
  display: block;
  font-size: 12px;
}

.field-city {
  display: flex;
  justify-content: space-between;
  margin-top: .813rem;
}

.delivery-country .input-field {
  align-items: center;
  display: flex;
}


.city-image {
  float: left;
  width: 30px;
  height: 30px;
  margin-right: 25px;
  background-repeat: no-repeat;
  background-size: 30px;
}

.city-delivery select {
    -moz-appearance: none;
    -webkit-appearance: none;
    border-radius: 0;
    border: 1px solid #999;
    background-color: #fff;
    display: block;
    outline: 0;
    margin: 0;
    padding: 11.008px 11px;
    padding: .688rem 11px;
    height: 4.8rem;
    padding-left: 15px;
    box-sizing: inherit
}


.order-btn {
  background-color: #aaddc5;
  border: none;
  color: #cceede;
  cursor: pointer;
  display: inline-block;
  position: relative;
  outline: 0;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: background-color .15s linear;
  vertical-align: middle;
  font-family: futura-pt-n7,futura-pt,Tahoma,Geneva,Verdana,Arial,sans-serif;
  font-style: normal;
  font-weight: 700;
  padding: 5.008px 5%;
  padding: .313rem 5%;
  padding: 12px 12px;
  padding: .75rem 12px;
  margin: 0 0 24px;
  margin: 0 0 1.5rem;
  cursor: default;
}

