.padded-right {
  margin-left: 29px;
  margin-top: 40px;
}
#text-centered {
  padding-left: 470px;
}
.marigned-top {
margin-top: 50px;
}

#reminder {
  text-align: center;
}
#contained {
  width: 600px;
}
.margined-bottom {
  margin-bottom: 70px;
}

