/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */
 .big-title {
  position: relative;
  text-align: center;
  padding: 1.5em 0 2em;
  color: #222222;
}

.big-title > div {
  font-size: 30px;
  line-height: 1em;
  margin: 0 !important;
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

.big-title:before, .big-title:after {
  content: '';
  display: inline-block;
  width: 120px;
  height: 1px;
  background-color: $mint;
  vertical-align: middle;
  margin: 0 1.5em;
}

.red-message-error {
  border-color: red;
  border-style: double;
}

#how-it-works img {
	width: 125px;
	margin-bottom: 20px;
}

.title-description {
	display: flex;
  align-items: center;
  justify-content: center;
  >div {
    max-width: 500px;
  }
}

#demo-what-you-get {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}

#temoignages img {
	margin-bottom: 10px;
}

#reassurance {
  margin-bottom: 20px;
}

#reassurance {
	p {
		font-size: 14px;
		margin: 0;
	}
	.text-small {
		font-size: 12px;
	}
	img {
   width: 50px;
   margin-bottom: 5px;
 }
}
.title-alternate {
  text-align: center;
  color: $black;
  font-weight: normal;
  font-size: 24px;
  font-family: $gidole;
  letter-spacing: 1px;
  &:after {
    content: '';
    display: block;
    width: 150px;
    height: 2px;
    margin: 10px auto 0;
    background: $black;
  }
}
.box {
  background: white;
  opacity: 0.8;
  padding: 25px 10px;
  border-radius: 5px;
  text-align: center;
  h3 {
    margin-top: 0;
  }
}
.title-box {
  text-align: center;
  color: $black;
  font-weight: normal;
  font-size: 24px;
  font-family: $gidole;
  letter-spacing: 1px;
  &:after {
    content: '';
    display: block;
    width: 150px;
    height: 2px;
    margin: 20px auto 0;
    background: $peach;
  }
}
#our-ideas {
  h2 {
    margin-top: 18px;
  }
  img {
    width: 70%;
    text-align: center;
  }
  .row {
    margin-bottom: 45px;
  }
  ul {
    list-style: none;
    margin-left: 0;
    padding-left: 1em;
    text-indent: -1em;
  }
}
.wrapper-wood {
  background-image: image-url('planche.jpg');
  background-size: cover !important;
  height: 245px;
  display: flex;
  align-items: center;
}
.fa-star {
  color: #FFDF42;
}
.padded {
  padding: 50px 0;
}

.package-home {
  display: flex;
  text-align: center;
  align-items: center;
}
