.search-product {
  margin: auto;
  text-align: center;
  width:60%
}
.resized{
  height: 95px;
  padding-top: 14px;
  margin-bottom: 5px;
}
.margined {
  margin-top: 6px;
}

.padded-top{
  padding-top : 20px;
}
