.search-product {
  // margin: auto;
}
.padded-top{
  padding-top : 20px;
}
.filter-title {
  position: relative;
  text-align: center;
  padding: 10px 0;
  color: #222222;
}

.filter-title > div {
  font-size: 18px;
  line-height: 1em;
  margin: 0 !important;
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

.filter-title:before, .filter-title:after {
  content: '';
  display: inline-block;
  width: 45px;
  height: 1px;
  background-color: $mint;
  vertical-align: middle;
  margin: 0 5px;
}
.sticking {
  position: fixed;
  top: 0;
  width: 100%;
}
