.card {
  height: 230px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  color: white;
  position: relative;
  margin-bottom: 20px;
  transition: all 0.5s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  .card-description {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    z-index: 100;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(250, 250, 250, 0.2);
    color: white;
    opacity: 0;
    transition: all 0.5s ease;
  }
  .card-category {
    font-size: 22px;
    text-transform: uppercase;
    transition: all 0.5s ease;
  }
  &:hover {
    background-color: black;
    cursor: pointer;
  }
  &:hover .card-description {
    opacity: 1;
  }
  &:hover .card-category {
    opacity: 1;
    margin-bottom: 165px;
  }
}
.error-messages {
  color : red ;
  font-size: 16px;
  font-weight: bold;
}

.checked-sym {
  z-index: 1000;
  font-size: 33px;
  position: absolute;
  right: 10px;
  top: 5px;
  opacity: 0;
  transition: all 0.5s ease;
}
.select-tag-container  {
  display: block;
  input:checked ~ .select-tag .card {
    background-size: 250 px;
    box-shadow: -2px 2px 14px #222222;
    transform: scale(1.05);
    .checked-sym {
      font-size: 33px;
      position: absolute;
      right: 10px;
      top: 5px;
      opacity: 0.8;
    }
  }
}

.sign-plus {
  font-size: 40px;
  height: 200px;
  margin-top: 80px;
  color: $mint;
  text-shadow: 1px 1px rgba(20, 20, 20, 0.4);
}
