.card {
  height: 230px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  color: white;
  position: relative;
  margin-bottom: 20px;
  transition: all 0.5s ease;
  &:hover {
    background-color: black;
    cursor: pointer;
  }
}
.card-user {
  position: absolute;
  right: 10px;
  top: 10px;
}
.card-category {
  position: absolute;
  top: 40px;
  left: 22px;
  right: 23px;
  font-size: 10px;
  text-transform: uppercase;
}
.card-description {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.card-description h2 {
  font-size: 24px;
}
.card-description p {
  font-size: 13px;
}

.placed{
  font-size: 20px;
  padding-top: 60px;
}
.error-messages {
  color : red ;
  font-size: 16px;
  font-weight: bold;
}

.checked-sym {
  font-size: 33px;
  position: absolute;
  right: 10px;
  top: 5px;
  opacity: 0;
  transition: all 0.5s ease;
}
.select-tag-container  {
  display: block;
  input:checked ~ .select-tag .card {
    background-size: 250 px;
    box-shadow: -2px 2px 14px #222222;
    transform: scale(1.05);
    .checked-sym {
      font-size: 33px;
      position: absolute;
      right: 10px;
      top: 5px;
      opacity: 0.8;
    }
  }
}

