<div id="bandeau-demo">
  <p>Ceci est une version démo du site développée en 10 jours.</p>
  <p>Pour toute suggestion ou commentaire sur l'expérience client, n'hésitez pas à nous contacter en <%= mail_to "contact@thegoodgift.co", "cliquant ici", class: "contact" %></p>
</div>
