<div class="checkout-card form-card email-card">
  <div class='hidden' id="email-card-mask"></div>
  <h3>Mon adresse e-mail</h3>
  <div class="flex-form">
    <span class="email-replay-data hidden" id="email-data" data-bind="email"></span>
    <button class="btn tertiary hidden" id='edit-email-btn'>MODIFIER</button>
    <%= simple_form_for(@order, html: {class: 'form-inline', id: 'email-input-field'}, remote: true) do |f| %>
      <%= f.input :email, label: false, id: 'email-field' %>
      <%= f.submit "Ajouter mon email", class: "btn secondary submit" %>
    <% end %>
  </div>
</div>
<div class="error-messages"></div>
