<div class="main-body">
  <div class="container checkout-header">
    <h1>
      Paiement
    </h1>
  </div>
  <div class="container checkout-body">
    <div class="row">
      <div class="col-xs-1 col-sm-8" id="forms">
        <div class="checkout-card form-card">

        </div>
      </div>

      <div class="col-xs-1 col-sm-4" id="forms">
        <div class="checkout-card cart-card">
          <div class="bag">
            <div class="bag-header">
              <h3>
                <%=  %>  X CADEAUX
              </h3>
              <%= link_to "Modifier", :back %>
            </div>

            <hr>

            <div class="bag-item-list">
              <img src="https://unsplash.com/search/gadget?photo=2-1wvS-jZZQ" alt="product">
            </div>

            <hr>

            <div class="bag-total">
              <p id="total-content">
                TOTAL À RÉGLER
              </p>
              <p id="total-price">
                300 €
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




