<div class="container text-center" id="temoignages">
 <div class="big-title padded">
    <div><span class="">VOS TÉMOIGNAGES</span></div>
  </div>
  <div class="">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-4">
         <%= image_tag "philibert.jpg", class: "avatar-large" %>
         <p>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          </p>
         <p>“Avant The Good Gift, le "chargé de cadeau” perdait systématiquement 2 heures dans l’après-midi pour aller faire le tour des boutiques du quartier. Maintenant, c’est réglé en 2 minutes. Résultat top !”</p>
         <p><strong>Philibert L.</strong></p>
         </div>
         <div class="col-xs-12 col-sm-4">
           <%= image_tag "julie.jpg", class: "avatar-large" %>
           <p>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            </p>
           <p>“À chaque farewell, on achète des cadeaux vraiment sympas sans avoir à sortir nos calculatrices pour rester dans la budget. Nos neuronnes disent merci à The Good Gift”</p>
           <p><strong>Julie E.</strong></p>
         </div>
         <div class="col-xs-12 col-sm-4">
           <%= image_tag "nicolas.jpg", class: "avatar-large" %>
           <p>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            </p>
           <p>"Moi j'aime beaucoup mes collègues, c'est toujours dur de dire au revoir. Mais depuis TGG, en fait, j’ai plus trop de problème à m’occuper de leur départ... Sans rancune et bon vent les gars !"</p>
           <p><strong>Nicolas F.</strong></p>
         </div>
      </div>
    </div>
  </div>
</div>
