<div id="last-gifts">
  <div class="container">
    <div class="big-title padded">
      <div><span class="">CE QUE VOUS RECEVREZ</span></div>
    </div>
  </div>
  <div class="wrapper-wood">
    <div class="container">
      <div class="row">
      <div class="col-xs-6">
          <div class="box" id="demo-what-you-get">
            <h3 class="title-box">UN ENSEMBLE DE CADEAUX</h3>
            <p>Recevez les cadeaux joliment emballés, prêts à être offerts.</p>
          </div>
        </div>
        <div class="col-xs-6">
          <div class="box" id="demo-what-you-get">
            <h3 class="title-box">UNE JOLIE CARTE</h3>
            <p>Pour que votre collègue conserve précieusement tous vos messages d’amours.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
