<div class="container" id="our-ideas">
  <div class="big-title padded">
    <div><span class="">NOS DERNIERS PACKAGES</span></div>
  </div>
  <div class="row package-home">
    <div class="col-xs-12 col-sm-offset-1 col-sm-5">
      <h2 class="title-alternate">POUR LE COLLÈGUE RAFFINÉ</h2>
      <p>Une enceinte vintage aux qualités sonores exceptionnelles, une bouteille de whisky japonnais (pour refaire le monde), et une montre sobre et élégante pour couronner le tout...</p>
    </div>
    <div class="col-xs-12 col-sm-5">
      <%= image_tag "bundle_style.png" %>
    </div>
  </div>
  <div class="row package-home">
    <div class="col-xs-12 col-sm-offset-1 col-sm-5">
      <%= image_tag "bundle_techos.png" %>
    </div>
    <div class="col-xs-12 col-sm-5">
      <h2 class="title-alternate">POUR L'AMI CONNECTÉ</h2>
      <p>Un drone de pro, pour frimer en vacances auprès des copains </p>
      <p>Un tracker d'activité.</p>
      <p>La petite touch en plus ? Un gadget pour localiser ses clés. Parce que c'est stylé.</p>
    </div>
  </div>
  <div class="row package-home">
    <div class="col-xs-12 col-sm-offset-1 col-sm-5">
      <h2 class="title-alternate">POUR LA PARISIENNE BRANCHÉE</h2>
    <p>Un appareil photo Lomo Instant (pour instagramer comme une artiste)</p>
    <p>Un jolie pendentif.</p>
    <p>Une boîe de macarons de chez Pierre Hermé.</p>
    </div>
    <div class="col-xs-12 col-sm-5">
      <%= image_tag "bundle_parisienne.png" %>
    </div>
  </div>
</div>
