<div class="container text-center" id="how-it-works">
  <div class="big-title padded">
    <div><span class="">COMMENT ÇA MARCHE ?</span></div>
  </div>
  <br>
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <%= image_tag "enveloppe.png" %>
      <p>Indiquez le montant de votre budget ainsi que les centres d'intérêt de votre ami/collègue</p>
    </div>
    <div class="col-xs-12 col-sm-4">
      <%= image_tag "pick_gift.png" %>
      <p>Choisissez un ensemble de cadeaux parmi la sélection personnalisée réalisée par nos experts</p>
    </div>
    <div class="col-xs-12 col-sm-4">
      <%= image_tag "delivery.png" %>
      <p>Recevez vos achats au bureau dans les 3 heures, joliment emballés, avec une carte</p>
    </div>
  </div>
</div>
