<div class="padded bar-container">

  <%# Progress bar design  %>

  <div class="progression-bar">
    <div class="circle-1">
      <span class="fa-stack fa-4x">
        <i id="white-circle" class="fa fa-circle fa-stack-2x icon-background4"></i>
        <i class="fa fa-circle-thin fa-stack-2x icon-background6"></i>
      </span>
    </div>
    <div class="circle-2">
      <i class="fa fa-circle" aria-hidden="true"></i>
    </div>
    <div class="circle-3">
      <span class="fa-stack fa-4x">
        <i id="white-circle" class="fa fa-circle fa-stack-2x icon-background4"></i>
        <i class="fa fa-circle-thin fa-stack-2x icon-background6"></i>
      </span>
    </div>
    <div class="circle-4">
      <span class="fa-stack fa-4x">
        <i id="white-circle" class="fa fa-circle fa-stack-2x icon-background4"></i>
        <i class="fa fa-circle-thin fa-stack-2x icon-background6"></i>
      </span>
    </div>
  </div>

  <%# Progress bar description  %>

  <div class="progression-bar-text">
    <div class="circle-1">
      <span>Welcome</span>
    </div>
    <div class="circle-2">
      <span><strong>Sélection des univers</strong></span>
    </div>
    <div class="circle-3">
      <span>Sélection des cadeaux</span>
    </div>
    <div class="circle-4">
      <span>Checkout</span>
    </div>
  </div>
</div>
