<%# Progress bar %>

<%= render 'pages/select_tags_progress_bar' %>

<%# Question principale de la page %>

<div class="lil-padded text-center" id="header-step-2">
  <h1>Quelles sont les passions de <strong class="minted"> <%= params[:search_name] %> </strong> ? </h1>
  <h3>(3 minimum)</h3>
</div>

<%# Les 8 cartes passions %>

<%= render 'pages/select_tags_cards' %>

<%# JS %>

<% content_for :after_js do %>
<script>
  $("#select-universe").on("submit", function() {
    var paragraph = $('<p>').text("Selectionnez au moins 3 univers")
    if ($(".select-tag-container input[type=checkbox]:checked").length >= 3) {
      return true;
    } else {
      $('.error-messages').html(paragraph);
        return false; // prevent it from being submitted (errors, etc.)
        $('.error-messages').remove();
      }
    });
  </script>
  <% end %>



