<div class="bar-price">
  <h4 class='text-center'>Utilisation du budget:</h4>
  <div class="flex-price">
  <div class="progress-wrap progress flex-item-progress" data-total='<%= @cart.total %>'>
    <div class="progress-bar progress"></div>
  </div>
    <div class="progress-price flex-item-price">
    <p> <%= @cart.price %> €</p>
    </div>
  </div>
</div>
