<div class="bar-container2">
  <div class="progression-bar2">
    <div class="circle-1">
      <span class="fa-stack fa-4x">
        <i id="white-circle" class="fa fa-circle fa-stack-2x icon-background4"></i>
        <i class="fa fa-circle-thin fa-stack-2x icon-background6"></i>
      </span>
    </div>
    <div class="circle-2">
      <span class="fa-stack fa-4x">
        <i id="white-circle" class="fa fa-circle fa-stack-2x icon-background4"></i>
        <i class="fa fa-circle-thin fa-stack-2x icon-background6"></i>
      </span>
    </div>
    <div class="circle-3">
      <i class="fa fa-circle" aria-hidden="true"></i>
    </div>
    <div class="circle-4">
      <span class="fa-stack fa-4x">
        <i id="white-circle" class="fa fa-circle fa-stack-2x icon-background4"></i>
        <i class="fa fa-circle-thin fa-stack-2x icon-background6"></i>
      </span>
    </div>
  </div>

  <div class="progression-bar-text2">
    <div class="circle-1">
      <span>Welcome</span>
    </div>
    <div class="circle-2">
      <span>Sélection des univers</span>
    </div>
    <div class="circle-3">
      <span><strong>Sélection des cadeaux</strong></span>
    </div>
    <div class="circle-4">
      <span>Checkout</span>
    </div>
  </div>
</div>
