.wrapper-bundle {
  margin: 30px auto;
  padding: 10px
}

.product-image {
  }

.product-index {
  padding: 30px;
  text-align: center;
}

.fa-arrow-left:hover{
  color: $mint;
}

.fa-arrow-right:hover{
  color: $mint;
}

.arrow {
  font-size: 22px;
}

