.wrapper-bundle {
  margin: 10px auto;
}

.product-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 100px;
  width: 100px;
}

.product-index {
  padding: 10px;
  text-align: center;
}

.fa-arrow-left:hover{
  color: $mint;
}

.fa-arrow-right:hover{
  color: $mint;
}

.search-left {

  height: 80vh;

}

.product-right {
  display: flex;
  margin-bottom: 50px;
  height: 80vh;
  align-items: center;
}

.bundle {
  display: flex;
  align-items: center;
}
