.bundle {

}

.flex-bundle {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.bundle-flexing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.flex-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  i {
    font-size: 25px;
    color: $grey;
    margin: 0 10px;
    cursor: pointer;
    &:hover {
      color: $mint;
    }
  }
}
