.btn-rounded {
  font-size: 20px;
  border-radius: 50px;
  padding: 5px 30px;
  transition: all 0.3s ease;
}
.btn-home {
  font-size: 18px;
  margin-bottom: 5px;
}
.btn-options {
  border: 1px solid $mint;
  border-radius: 50px;
  font-size: 18px;
  padding: 10px 30px;
  transition: all 0.3s ease;
  &:hover {
    background: $mint;
    color: white;
  }
  &:focus {
   color: $mint;
 }
 &:focus:hover {
   color: white;
 }
}

.btn-show-bundle {
  color: $black;
  border: 1px solid $black;
  border-radius: 2px;
  font-size: 18px;
  padding: 10px 30px;
  transition: all 0.5s ease;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  &:hover {
    background: $black;
    color: white;
  }
}
