.bar-price {
  margin-top: 70px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.progress {
  width: 100%;
  height: 35px;
}
.progress-wrap {
  background: $mint;
  margin-bottom: 20px;
  margin-top: 10px;
  overflow: hidden;
  position: relative;
  border: 5px #FAFAFA solid;
  border-radius: 50px;
  .progress-bar {
    background: #ddd;
    left: 0;
    position: absolute;
    top: 0;
  }
}
