.bar-price {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 55px;
}

.progress {
  width: 350px;
  height: 35px;
  margin-bottom: 0;
}
.progress-wrap {
  background: $mint;
  overflow: hidden;
  position: relative;
  border: 5px solid $lightgrey;
  border-radius: 50px;
  .progress-bar {
    background: #ddd;
    left: 0;
    position: absolute;
    top: 0;
  }
}


