.bar-container {
  display: flex;
  justify-content: center;
  position: relative;
  .progression-bar {
    width: 60%;
    height: 3px;
    background: $mint;
    border-radius: 3px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .progression-bar-text {
    width: 60%;
    position: absolute;
    top: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  i {
    color: $mint;
    font-size: 25px;
  }
  #white-circle {
    color: white;
  }
  .fa-stack {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
  }
}
