.bar-container {
  display: flex;
  justify-content: center;
  width: 66%;
  position: relative;
  margin: 0 auto;
  .progression-bar {
    width: 100%;
    height: 3px;
    background: $mint;
    border-radius: 3px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .progression-bar-text {
    width: 100%;
    position: absolute;
    top: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  i {
    color: $mint;
    font-size: 25px;
  }
  #white-circle {
    color: white;
  }
  .fa-stack {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
  }
}

.progress-bar-fixed {
  position: fixed;
  z-index: 1000;
  top: 0px;
  left: 0px;
  width: 100%;
  background: white;
}

// version page 3
.bar-container2 {
  display: flex;
  justify-content: center;
  width: 100%;
  position: relative;
  margin: 15px 0;
  .progression-bar2 {
    width: 100%;
    height: 3px;
    background: $mint;
    border-radius: 3px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .progression-bar-text2 {
    padding: 20px 0px;
    width: 100%;
    position: absolute;
    top: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  i {
    color: $mint;
    font-size: 25px;
  }
  #white-circle {
    color: white;
  }
  .fa-stack {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
  }
}

.progress-price {
  font-size: 15px;
}

.flex-price {
  display:flex;
  align-items: center;
}

.flex-item-price {
  flex: 0 0 10%;
  margin-left: 10px
}

.flex-item-progress {
  flex: 1 0 auto;
}

