.input-group-addon {
  background-color: white;
  border-left: 0;
}
.form-control {
  box-shadow: none;
}
#search_price {
  border-right: 0;
}


.container-checkbox {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 15px 0;
}

.check-card {
  color: $black;
  background: #b7b7b7;
  padding: 20px 10px;
  border-radius: 5px;
  opacity: 0.4;
  &:hover {
    opacity: 1;
    cursor: pointer;
  }
}

.checkboxes  {
  display: block;
  flex: 0 0 21%;
  margin-bottom: 15px;
  text-align: center;
  input:checked ~ .check-card {
    opacity: 1;
    color: white;
    background: #93E1D8;
    i {
      visibility: visible;
    }
  }
}
.margined {
  margin-bottom: 10px;
}

.check-title i {
  visibility: hidden;
}
