.input-group-addon {
  background-color: white;
  border-left: 0;
}
.form-control {
  box-shadow: none;
  font-size: 16px;
}
#search_price {
  border-right: 0;
}

.container-checkbox {
  display: flex;
  flex-wrap: wrap;
  margin: 15px 0;
}

.check-card {
  color: $black;
  background: #b7b7b7;
  padding: 20px 10px;
  // &:first-child {
  //   border-radius: 10px 0 0 10px;
  // }
  // &:last-child {
  //   border-radius: 0 10px 10px 0;
  // }
  opacity: 0.4;
  &:hover {
    opacity: 1;
    cursor: pointer;
  }
}

.checkboxes  {
  flex: 0 0 50%;
  text-align: center;
  display: block;
  font-size: 13px;
  input:checked ~ .check-card {
    opacity: 1;
    color: white;
    background: #93E1D8;
    i {
      visibility: visible;
    }
  }
}
.margined {
  margin-bottom: 10px;
}

.check-title i {
  visibility: hidden;
}

.form-search {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 0px 85px;
}

.form-item-home {
  align-item: flex-end;
}

.radio_div input + label {
  height: 49px;
  width: 60px;
  background-color: $mint;
  opacity: 0.3
}

.radio_div input:checked + label {
  height: 49px;
  width: 60px;
  background-color: $mint;
  opacity: 0.8
}

.radio_div input {
  display: none;
}

#select-genre {
  display: flex;
}

.input-group {
  box-shadow: 3px 2px 5px rgba(20, 20, 20, 0.4);
  margin-right: 5px;
  margin-bottom: 5px;
}

.icon-home {
  font-size: 30px;
  padding-top: 7px;
}



