<div class="product-index">
  <div class="text-center">
    <h1> Notre selection de Gifts </h1>
  </div>

  <br>
  <%= render 'products/search_bar_products' %>
  <h1> Selectionnez vos cadeaux :</h1>

  <div id="matching-list-container">
    <%= render "matching_list", matching_list: @matching_list %>
  </div>

</div>



<% content_for(:after_js) do %>
  <script>
    $(document).ready(function() {
      initCarousel();
    });
    </script>
<% end %>

